{% extends "website/base.html" %}

{% block content %}
    <div class="people1">
    <h1>People Working In Silicon Private Limited:</h1>    
    </div>
    
    <div>
        <h3><u>President:</u></h3>
        <p>Natasha Maris</p>
        <img src="/static/img/natasha.jpg">
    </div>

    <div>
        <h3><u>Vice President:</u></h3>
        <p>Yun Shu</p>
        <img src="/static/img/yunshu1.jpg">
    </div>

    <div>
        <h3><u>Director:</u></h3>
        <p>Kathryn Doris</p>
        <img src="/static/img/kathryn.jpg">
    </div>

    <div class="people2">
        <h3><u>Members:</u></h3>
        <p>Declan Lynch</br>
        Front-End Development</p>
        <img src="/static/img/declan.jpg">
    </div>
    <div>
        <p>Cynthia Myers</br>
        Back-End Development</p>
        <img src="/static/img/cynthia.jpg">
    </div>
    <div>
        <p>Richmond Frazier</br>
        Technical Lead</p>
        <img src="/static/img/richmond.jpg">
    </div>
    <div>
        <p>Tang Xue</br>
        Technical Lead</p>
        <img src="/static/img/tangxue.jpg">
    </div>
    <div>
        <p>Hina Sakura</br>
        Design Team Lead</p>
        <img src="/static/img/hina.jpg">
    </div>
    <div>
        <p>Dong-hyun</br>
        Marketing Team Lead</p>
        <img src="/static/img/dong.jpg">
    </div>
{% endblock  %}